{% extends 'base.html'%}
{% block title %}Delivery Portal{% endblock title %}
{% block body %} 
<!--div class="container-fluid px-0"-->
<div class="container">
<h3 class = "text-center">Delivery Portal</h3>
<hr>
<div class="d-grid gap-2 col-6 mx-auto">
    <div class="d-grid gap-2">
        <a class="btn btn-primary" href="/viewassigned" role="button">View Assigned Delivery</a>
        <a class="btn btn-primary" href="/updatestatus" role="button">Update Delivery Status</a>
    </div>

</div>

        
            <!--a class="btn btn-primary" href="/" role="button">View Assigned Delivery</a>
            <a class="btn btn-primary" href="/" role="button">Update Delivery Status</a>
            <button class="btn btn-primary" role="button">Secondary action</button>
            <button class="btn btn-primary" type="button">Primary action</button-->
      
{% endblock body %}