{% extends 'base.html'%}
{% block title %}Home{% endblock title %}Home
{% block body %}
<div class="container">
    <div class="card mx-auto d-block p-3" style="width: 55rem;">
        <img src="https://images.unsplash.com/photo-1548695607-9c73430ba065?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Monitor your pending order delivery using Taiz  </h5>
          <p class="card-text">Stay tension free and track the delivery of your orders from your favorite local shops using Taiz - your shopping buddy.</p>
          <!--a href="#" class="btn btn-primary">Go somewhere</a-->
        </div>
      </div>
</div>
{% endblock body %}