{% extends 'base.html'%}
{% block title %}My orders{% endblock title %}
{% block body %} 
<!--div class="container-fluid px-0"-->
<div class="container">
<h3 class = "text-center">My Orders</h3>
<hr>
<!--div class="d-grid gap-2 col-6 mx-auto">
    <div class="d-grid gap-2"-->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">Order ID</th>
                <th scope="col">Products</th>
                <th scope="col">Billamount</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Delivery Status</th>
              </tr>
            </thead>
            {% for i in deliv %}
            <tbody>
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.customer.firstname}}</td>
                <td>{{i.customer.lastname}}</td>
                <td>{{i.customer.customermobile1}}</td>
                <td>{{i.customer.customeraddress}}</td>
                <td>{{i.order.id}}</td>
                <td>
                    {% for product in i.order.product.all %}
                    {{ product.productname }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{i.billamount}}</td>
                <td>{{i.paymentstatus}}</td>
                <td>{{i.deliverystatus}}</td>
            
              </tr>
              {% endfor %}

            </tbody>
          </table>
    <!--/div>

</div-->
      
{% endblock body %}