{% extends 'base.html'%}
{% block title %}Add Another User Details{% endblock title %}
{% block body %} 

<div class="container">
<h3 class = "text-center">Contact Us</h3> 
<form method = "POST" action="/register">
{% csrf_token %}
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder = "Enter your First name here">
      
    <div class="mb-3">
      <label for="middlename" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="middlename" name= "middlename" placeholder="Enter your Middle name here">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" name= "lastname" placeholder="Enter your Last name here">
      </div>
    <div class="mb-3">
        <label for="customermobile1" class="form-label">Contact Number</label>
        <input type="Number" class="form-control" id="customermobile1" name="customermobile1" placeholder = "Enter your Contact number">
      </div>
      <div class="mb-3">
        <label for="alternatenumber" class="form-label">Alternate Number</label>
        <input type="number" class="form-control" id="alternatenumber" name ="alternatenumber" placeholder = "Enter your another contact number">
      </div>
      <div class="mb-3">
        <label for="customeraddress" class="form-label">Address</label>
        <input type="test" class="form-control" id="customeraddress" name ="customeraddress" placeholder = "Enter your address details here">
      </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}